.activeLink {
    border-bottom: 2px solid var(--color-text-active);
    color: var(--color-text-active);
}

.dormantLink {
    border-bottom: 2px solid transparent;
    transition: all 0.1s ease-in-out;
    color: var(--color-text);
}

.dormantLink:hover {
 border-bottom: 2px solid var(--color-text-active);
 color: var(--color-text-active);
}

.activeActionButton {
    background-color: var(--color-text-active);
    color: var(--color-bg-active);
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
}

.dormantActionButton {
    transition: all 0.1s ease-in-out;

    background-color: var(--color-text);
    border-radius: 4px;
    color: var(--color-bg);
}

.dormantActionButton:hover {
    background-color: var(--color-text-active);
    color: var(--color-bg-active);
}