.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socialsContainer {
    max-width: 400px;
}

.purchaseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 50px;
    background-color: #bbb;
    color: #111;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.purchaseButton:hover {
    background-color: #fff;
    color: #000;
}