.container {
    padding: 10px 20px 10px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid #333;
}

.controls {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}