:root {
  /* Light theme colors */
  --color-bg-light: #f2f2f2;
  --color-text-light: #111;

  /* Dark theme colors */
  --color-bg-dark: #111;
  --color-text-dark: #bbb;
}

.light-theme {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
  --color-text-active: black;
  --color-bg-active: white;
}

.dark-theme {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-text-active: white;
  --color-bg-active: black;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 20px;
  padding: 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
@media screen and (min-width: 1064px) {
  .container {
      /* Assuming .navbar is a direct child of .container */
      width: 1024px; 
      margin-left: auto;
      margin-right: auto;
  }
}

/* Styles for viewports narrower than 1024px */
@media screen and (max-width: 1063px) {
  .container {
      /* Set the width of the navbar to 100% of the viewport width */
      width: calc(100%-40px);
      margin-left: 20px;
      margin-right: 20px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  padding: 20px 20px;
  min-height: 100vh;
}

.lowerPageSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid #333;
  padding-top: 40px;
  padding-bottom: 40px;
}

.theme {
  transition: 0.2s all ease;
  background-color: var(--color-bg);
  color: var(--color-text);
}


button, 
input {
    font-family: inherit;
}