.openingContent {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 8rem;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    align-self: end;
}

@media (max-width: 600px) {
  .openingContent {
    flex-direction: column;
  }
  .img {
    width: 100%;
    height: 100%;
    align-self: center;
  }
}