.openingContent {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 80px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.break {
  display: none;
}

.item {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.imgItem {
  flex: 1;
  display: flex;
  justify-content: right;
}

.welcomeTitle {
  margin: 0rem 0rem 20px 0rem;
}

.openingText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid #333;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 780px) {
  .openingContent {
    flex-direction: column;
  }
  .img {
    width: 100%;
    height: 100%;
    align-self: center;
  }
  .break {
    display: block;
  } 
  .welcomeTitle {
    margin: 20px 0rem 20px 0rem;
  }
}