.container {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    padding: 0 2%; 
    zIndex: 100;
    position: sticky; /* Use sticky position */
    top: 0; /* Will be stuck to the top when scrolling down */
    width: 100%; /* Takes 100% of the parent width */
    background-color: #111;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    transition: all 0.2s ease;
    color: #fff;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
    color: #fff;
}

.actionLink {
    padding: 2px 20px;
    background-color: #bbb;
    border-radius: 2px;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.2s ease;
    border: none;
}

.actionLink:hover {
    background-color: #fff;
}
