.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #333;
    padding: 20px 20px;
}

.socialsContainer {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.legalContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.legal {

}

@media (max-width: 780px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
    .legalContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .socialsContainer {
        width: 100%;
    }
}