.container {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialIcons {
    display: flex;
    gap: 8px;
}

.icon {
    cursor: pointer;
    opacity: 0.8;
}