.mobileContainer {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    padding: 10px 20px; 
    zIndex: 100;
    position: sticky; /* Use sticky position */
    top: 0; /* Will be stuck to the top when scrolling down */
    width: 100%; /* Takes 100% of the parent width */
    background-color: var(--color-bg);
    flex-direction: column;
}

.mobileTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mobileLinks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    color: inherit;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
    color: inherit;
}

.actionLink {
    padding: 2px 20px;
    background-color: inherit;
    color: inherit;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.2s ease;
    border: none;
    border-radius: 4px;
}

.actionLink:hover {
    background-color: var(--color-text-active);
}
